<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./css/styles.css" />
  <script type="module" src="./js/index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.umd.js"></script>
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Welcome to the Dog-Inspired Website</h1>
</header>
<main class="main-content">
    <section>
        <h2>About Our Furry Friends</h2>
        <p>Dogs are not just pets; they are family members, loyal companions, and sometimes, our lifesavers. This website is dedicated to all things dog - from the best care tips to heartwarming stories of dogs around the world.</p>
        <!-- Paw-print element for a playful touch -->
        <img src="./css/paw.webp" alt="Colorful paw print" height="200px" width="200px">
    </section>
    <section class="text-center margin-top-20">
        <button>Join Our Community</button>
    </section>
</main>
<footer>
    <p>&copy; 2024 Dog Lovers Community</p>
</footer>
</body>
</html>